.icon-size {
    font-size: 2rem !important;
}

.text-primary-shadow {
    text-shadow: 0 5px 10px rgb(98 89 202 / 30%);
}

.course-detail-bx {
    position: sticky;
    top: 100px;
}

.bg-svg{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='200' preserveAspectRatio='none' viewBox='0 0 500 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1218%26quot%3b)' fill='none'%3e%3cpath d='M9 200L209 0L276.5 0L76.5 200z' fill='url(%23SvgjsLinearGradient1219)'%3e%3c/path%3e%3cpath d='M122 200L322 0L422.5 0L222.5 200z' fill='url(%23SvgjsLinearGradient1219)'%3e%3c/path%3e%3cpath d='M238 200L438 0L523.5 0L323.5 200z' fill='url(%23SvgjsLinearGradient1219)'%3e%3c/path%3e%3cpath d='M483 200L283 0L250 0L450 200z' fill='url(%23SvgjsLinearGradient1220)'%3e%3c/path%3e%3cpath d='M389 200L189 0L58.5 0L258.5 200z' fill='url(%23SvgjsLinearGradient1220)'%3e%3c/path%3e%3cpath d='M269 200L69 0L-73.5 0L126.5 200z' fill='url(%23SvgjsLinearGradient1220)'%3e%3c/path%3e%3cpath d='M346.108709182957 200L500 46.108709182957L500 200z' fill='url(%23SvgjsLinearGradient1219)'%3e%3c/path%3e%3cpath d='M0 200L153.891290817043 200L 0 46.108709182957z' fill='url(%23SvgjsLinearGradient1220)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1218'%3e%3crect width='500' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1219'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.19)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.19)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1220'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.19)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.19)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");}